.App {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    max-width: 935px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #262626;
  }
  
  h2, h3, h4, p, span {
    margin: 0;
    padding: 0;
  }
  